*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: gray;
}

.main-wrapper{
    position: absolute;
    width: 40%;
    min-width: 520px;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    background-color: #ffffff;
    padding: 32px 64px;
    display: grid;
    justify-items: center;
}

.heading{
    font-weight: 700;
    font-size: 42px;
    padding-bottom: 16px;
}

input[type="text"]{
    width: 100px;
    font-weight: 700;
    color: blueviolet;
    padding: 20px 0;
    text-align: center;
    margin: 30px 0;
    border-radius: 10px;
    border: 2px solid #202020;
    font-size: 30px;
}

button{
    width: 100px;
    padding: 15px 0;
    border-radius: 5px;
    background-color: aquamarine;
    color: #ffffff;
    border: none;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 30px;
}

p{
    font-weight: 500;
}